<div class="fullscreen-bg">
  <div class="background">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="registration-center">
    <div class="registration-container">
      <h2>Регистрация</h2>
      <form>
        <label class="registration-label" for="username"
          >Имя пользователя</label
        >
        <input
          id="username"
          class="registration-input"
          type="text"
          placeholder="Имя пользователя"
        />
        <label class="registration-label" for="email">Email</label>
        <input
          id="email"
          class="registration-input"
          type="email"
          placeholder="Email"
        />
        <label class="registration-label" for="password">Пароль</label>
        <input
          id="password"
          class="registration-input"
          type="password"
          placeholder="Пароль"
        />
        <label class="registration-label" for="confirmPassword"
          >Повторите пароль</label
        >
        <input
          id="confirmPassword"
          class="registration-input"
          type="password"
          placeholder="Повторите пароль"
        />
        <button class="registration-btn" type="submit">
          Зарегистрироваться
        </button>
        <div class="registration-login-link">
          Уже есть аккаунт?
          <a href="/login">Войти</a>
        </div>
      </form>
    </div>
  </div>
</div>
