/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


router-outlet, 
app-header + router-outlet {
  flex: 1;
  overflow: hidden;
}
color {
   color: #DCE94B;
   color: #BEADF6;
   color: #4787FF;
   color: #DDE0E5;
   color: #121F3C;
   color: #C6CAD3;
}