<div *ngIf="!authorized; else authTemplate" class="home-container">
  <h1>С НАМИ БУДУЩЕЕ</h1>
  <button class="join-btn" (click)="onLogin()">Join</button>
  <h2>Добро пожаловать на главную страницу!</h2>
</div>

<ng-template #authTemplate>
  <div class="auth-home-container">
    <h2>YOUR WORKSPACES</h2>
    <button class="create-board-btn" (click)="openModal()">Create Board</button>
  </div>
</ng-template>

<!-- Модальное окно -->
<div *ngIf="modalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Create Board</h3>
    <label>Name</label>
    <input type="text" [(ngModel)]="boardName" class="modal-input" />
    <label>Description</label>
    <textarea [(ngModel)]="boardDescription" class="modal-textarea"></textarea>
    <div class="modal-buttons">
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
      <button
        class="create-btn"
        [disabled]="!boardName"
        (click)="createBoard()"
      >
        Create
      </button>
    </div>
  </div>
</div>
